:root {
  --clr-primary-200: hsl(225, 100%, 94%);
  --clr-primary-600: hsl(245, 75%, 52%);
  --clr-neutral-100: hsl(225, 100%, 98%);
  --clr-neutral-400: hsl(224, 23%, 55%);
  --clr-neutral-800: hsl(223, 47%, 23%);

  --ff-base: "Red Hat Display", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-bolder: 900;
}

/* Intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Responsive images */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

a,
button,
input,
select,
textarea {
  font: inherit;
}

/* Avoid text overflowing */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Small line-height for large text */
h1 {
  line-height: 1;
}

/* General styling */
body {
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-400);
  font-weight: var(--fw-regular);
  font-family: var(--ff-base);
  line-height: 1.5;
  min-height: 100svh;

  display: grid;
  place-content: center;
}

.audio-card {
  --content-spacing: 1rem;
  --content-padding: 1rem;
  --fs-title: 1.8rem;

  text-align: center;
  background-color: white;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 1.2rem 1rem 0.5rem hsla(245, 75%, 52%, 0.1);

  display: grid;
  gap: var(--content-spacing);
}

.audio-card__content {
  padding: var(--content-padding);

  display: grid;
  gap: var(--content-spacing);
}

.audio-card__title {
  color: var(--clr-neutral-800);
  font-size: var(--fs-title);
}

.card-description {
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
}

.card-annual-plan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.icon {
  max-width: 2.8rem;
}

.annual-plan-description {
  flex-grow: 1;
}

.annual-plan-title {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
  font-size: 0.9rem;
}

.annual-plan-price {
  color: hsl(224, 23%, 55%);
  margin-bottom: 0;
  font-size: 0.9rem;
}

.change-btn {
  display: inline-block;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 0.9rem;
  margin-left: 1.5rem;
}

.btn {
  font-weight: 700;
  border-radius: 0.5rem;
  text-decoration: none;
}

.payment-btn {
  display: block;
  padding: 0.8rem;
  background-color: hsl(245, 75%, 52%);
  color: white;
  font-family: "Red Hat Display", sans-serif;
  box-shadow: 0rem 1rem 1rem hsla(245, 75%, 52%, 0.2);
  margin-bottom: 1.5rem;
}

.cancel-btn {
  display: inline-block;
  color: hsl(224, 23%, 55%);
  margin-bottom: 0.5rem;
}

@media (min-width: 25rem) {
  body {
    background: url("./images/pattern-background-desktop.svg") no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
  }

  .content {
    min-height: 100vh;
  }

  .card-container {
    width: 25rem;
  }

  .card-body {
    padding: 2rem;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .card-description {
    margin-bottom: 1.5rem;
  }

  .card-annual-plan {
    padding: 1.3rem;
  }

  .change-btn {
    margin-left: 5rem;
  }
}
