
body{
    background-color: hsl(225, 100%, 94%);
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    margin: 0;
}

.txt{
    display: inline-block;
    color: hsl(224, 23%, 55%);
    font-size: 1rem;
    line-height: 1.5;
    max-width: 21.8rem;
    margin: 0;
}

h4{
    display: inline-block;
    color: hsl(223, 47%, 23%);
    margin: 0;
}

h1{
    color: hsl(223, 47%, 23%);
    margin-top: 1.5 0rem;
    margin-bottom: 1rem;
}

.content{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px hsla(245, 75%, 52%, 0.1);
    -moz-box-shadow: 0px 20px 5px hsla(245, 75%, 52%, 0.1);
    -webkit-box-shadow: 0px 20px 5px hsla(245, 75%, 52%, 0.1);
    -o-box-shadow:0px 20px 5px hsla(245, 75%, 52%, 0.1);
}

.card > img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
}

.order{
    max-width: 28.75rem;
    height: 420px;
    padding: 1rem;
}

.order > p{
    margin: 0.5rem;
}

.annual-plan{
    text-align: start;
    max-width: 20.62rem;
    max-height: 110px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 1rem auto;
    padding: 1.25rem;
}

.annual-plan > img{
    float: left;
    width: 2.8rem;
    margin-right: 20px;
}

.annual-plan .change{
    position: relative;
    bottom: 0.6rem;
    left: 6.8rem;
    border: none;
    background-color: transparent;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
}

.change a:active{
    color: mediumpurple;
}

.btn{
    color: hsl(224, 23%, 55%);
}

.payment-btn{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 1em 7em;
    margin: 0.8rem 0rem;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    border: none;
    border-radius: 7px;
    box-shadow: 0px 20px hsla(245, 75%, 52%, 0.1);
    -moz-box-shadow: 0px 20px 5px hsla(245, 75%, 52%, 0.1);
    -webkit-box-shadow: 0px 20px 5px hsla(245, 75%, 52%, 0.1);
    -o-box-shadow:0px 20px 5px hsla(245, 75%, 52%, 0.1);
}

.payment:active{
    background-color:mediumpurple;
}

.cancel-btn{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0rem;
    padding: 0.5em 1em;
    border: none;
    background-color: transparent;
}

.cancel:active{
    color: hsl(223, 47%, 23%);
}

.attribution { 
    padding: 0.8rem;
    font-size: 0.68rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}