
body{
    background: url("./images/pattern-background-mobile.svg") no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
}

.content{
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 1.2rem 1rem 0.5rem hsla(245, 75%, 52%, 0.1);
}

.main-card-image{
    width: 100%;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.card-content * {
    margin: 0;
    text-align: center;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.card-title{
    color: hsl(223, 47%, 23%);
    font-size: 1.5rem;
}

.annual-plan{
    text-align: start;
    max-width: 20.62rem;
    max-height: 110px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 1rem auto;
    padding: 1.25rem;
}

.annual-plan > img{
    float: left;
    width: 2.8rem;
    margin-right: 20px;
}

.annual-plan .change{
    position: relative;
    bottom: 0.6rem;
    left: 6.8rem;
    border: none;
    background-color: transparent;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
}

.change a:active{
    color: mediumpurple;
}

.btn{
    color: hsl(224, 23%, 55%);
}

.payment-btn{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 1em 7em;
    margin: 0.8rem 0rem;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    border: none;
    border-radius: 7px;
    box-shadow: 0px 20px hsla(245, 75%, 52%, 0.1);
    -moz-box-shadow: 0px 20px 5px hsla(245, 75%, 52%, 0.1);
    -webkit-box-shadow: 0px 20px 5px hsla(245, 75%, 52%, 0.1);
    -o-box-shadow:0px 20px 5px hsla(245, 75%, 52%, 0.1);
}

.payment:active{
    background-color:mediumpurple;
}

.cancel-btn{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0rem;
    padding: 0.5em 1em;
    border: none;
    background-color: transparent;
}

.cancel:active{
    color: hsl(223, 47%, 23%);
}

.attribution { 
    font-size: 0.8rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}